<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Контакты</title>
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/style_contact.css' %}">
</head>
<body>
  <section class="contact">
    <h2>CONTACT ME</h2>
    <p class="subtitle">I would like always to stay in touch with you!</p>

    <div class="contact-container">
      <div class="contact-item">
        <img src="https://cdn-icons-png.flaticon.com/512/724/724664.png" alt="Phone" class="icon">
        <p>+1 800 559 6580<br>+1 800 603 6035</p>
      </div>

      <div class="contact-item">
        <img src="https://cdn-icons-png.flaticon.com/512/535/535239.png" alt="Map" class="icon">
        <p>9870 ST VINCENT PLACE<br>GLASGOW, DC 45 FR 45</p>
      </div>

      <div class="contact-item">
        <img src="https://cdn-icons-png.flaticon.com/512/646/646094.png" alt="Mail" class="icon">
        <p>MAIL@DEMOLINK.ORG</p>
      </div>
    </div>

    <p class="footer-text">
      Please send me your personal questions and wishes. Also, you can order a photoshoot by sending me an email and discuss the details. Thank you for choosing me!
    </p>
  </section>
</body>
</html>

