<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Контакты</title>
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/style_contact.css' %}">
</head>
<body background="{% static 'images/fon2.png' %}" class="fon">
  <section class="contact">
    <h2>НАШИ КОНТАКТЫ</h2>
    <div class="contact-container">
      <div class="contact-item">
        <img src="https://cdn-icons-png.flaticon.com/512/724/724664.png" alt="Phone" class="icon">
        <p>+7-(977)-777-77-77<br>+7-(955)-777-75-55</p>
      </div>

      <div class="contact-item">
        <img src="https://cdn-icons-png.flaticon.com/512/535/535239.png" alt="Map" class="icon">
        <p>РОСТОВ-НА-ДОНУ, УЛИЦА ПУШКИНСКАЯ, 144А<br>КРАСНОДАР, УЛИЦА ВОЛОДИ ГОЛОВАТОГО, 313</p>
      </div>

      <div class="contact-item">
        <img src="https://cdn-icons-png.flaticon.com/512/646/646094.png" alt="Mail" class="icon">
        <p>LUXURYFLOW@MAIL.RU</p>
      </div>
    </div>

    <p class="footer-text"> НАША КОМАНДА ВСЕГДА ОТКРЫТА К НОВЫМ ПРЕДЛОЖЕНИЯМ И 
      ИНТЕРЕСНЫМ ЗАКАЗАМ. СПАСИБО ЗА ТО, ЧТО ВЫБРАЛИ НАС!
    </p>
  </section>
</body>
</html>

